label{
    color: #797A79;
}
.basicdetails{
    border-bottom: 1px dashed black;
    padding: 10px;
}
.pastHistory .card{
    background-color: #f6f4f4;
    border-color: #DDDDDD;
}
.basicdetails p{
  font-weight: 600;
}
