:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width:260px;
    background-color: #d2d4d8;
    color:black;
    z-index: 1 !important;
}
mat-drawer-container{
    height: 100%;

}
:host ::ng-deep.mat-drawer-inner-container {
    overflow: hidden;
}

.show {
   width: 260px;
} 

.hide {
    width: 0px;
}
.shows{
    margin-left: 260px !important; 
}
.hides{
    margin-left: 0px !important;
}