<h1 mat-dialog-title *ngIf="!editData">Add Client</h1>
<h1 mat-dialog-title *ngIf="editData">Edit Client Id: {{editData.clientId}}</h1>

<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <label>Name</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Enter Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label>Mobile Number</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Enter mobile number" formControlName="phoneNo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label>E-mail ID</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input *ngIf="editData" readonly matInput placeholder="Enter E-mail ID" formControlName="emailId">
          <input *ngIf="!editData" matInput placeholder="Enter E-mail ID" formControlName="emailId">

        </mat-form-field>
      </div>
      <div *ngIf="!editData" class="col-md-6">
        <label>Password</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Enter password" formControlName="password">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="float-right">
        <button class="cancel" mat-button mat-dialog-close>Cancel</button>
        <button type="submit" [disabled]="userForm.invalid" class="submit" mat-button>Submit</button>
      </div>

    </div>

  </form>
</div>
